<% unless expired(@job.deadline) %>
<div class="container mt-4">
  <div class="row">
    <div class="col-8 border rounded bg-light">
      <h2 class="text-center mt-4"><%= @job.title%></h2>
      <h6 class="text-center" style="color:gray">creator: <%= @job.user.full_name%></h6>
      <div class="row">
        <% if logged_in? && current_user?(@job.user) %>
          <div class="col">
            <%= link_to "Edit", edit_job_path(@job), class:"btn btn-warning" %>
            <%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Are you sure?" }, class:"btn btn-danger" %>
          </div>
        <% end %>
      </div>
      <p><%= @job.description %></p>
       <div class="row justify-content-between border-top" style="background-color:#FDF5E6">
        <div class="col">
         Email: <%= @job.user.email %>
        </div>
        <div class="col">
         Category: <%= @job.category %>
        </div>
        <div class="col">
         Expired: <%= @job.deadline.strftime("%d/%m/%Y") %>
        </div>
       </div>
    </div>
    <div class="col-4 border rounded">
      <h4 class="text-center m-2 text-uppercase mt-4">Easy Apply</h4>
      <%= render 'applicates/form', job: @job, applicate: @applicate, submit: "Apply" %>
    </div>
  </div>
</div>
<% end %>