<div style="background-color:rgb(240, 240, 240); padding:20px; margin-top:20px; text-align:center; height:150px;">
  <h1>Hello <%= @applicate.job.user.full_name %>!</h1>
  <p>In your job <strong><%= @applicate.job.title %></strong> you have new applicant!</p>
</div>
<ul style="list-style: none outside none; margin-left:38%; padding-top: 1rem; font-size:25px;">
  <li> Full Name: <strong><%= @applicate.fullname %></strong> </li>
  <li> Email: <strong><%= @applicate.email %></strong> </li>
  <li> Phone: <strong><%= @applicate.phone %></strong> </li>
  <li> Birthdate: <strong><%= @applicate.birthdate.strftime("%d/%m/%Y") %></strong> </li>
  <li> Address: <strong><%= @applicate.address %></strong> </li>
  <li> Education: <strong><%= @applicate.education %></strong> </li>
</ul>
